doctype html
html
    head

        link(rel='stylesheet', href='assets/css/bootstrap.min.css', type='text/css', media='screen')
        link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')

    div.form-group
        label(for='exampleFormControlSelect1') Example select
        select#exampleFormControlSelect1.form-control
            option 1
            option 2
            option 3
            option 4
            option 5