doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css')
        script(src="https://code.jquery.com/jquery-2.2.4.min.js")
    body#radial-center
        h1.center(style="padding: 10% 0 5%;") Event has been successfully submitted!
        h6.center To manage event views, please head here:
        br
        hr
        br
        div.center-align
            button#form.center.btn.waves-effect.waves-lighten.blue.darken-1(onclick="window.location='/';") Home
        script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js" type="text/javascript")
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css')

