doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://code.jquery.com/jquery-2.2.4.min.js")
    block form-css
  body
    block content
    block scripts
    
