doctype html
html
  head
    title= title
    script(src="https://code.jquery.com/jquery-2.2.4.min.js")
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css')
    link(rel='stylesheet', href='/stylesheets/dropzone.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    link(rel='stylesheet', href='/stylesheets/style.css')

  body#radial-center
    h2.center Sign Up
    div.row
      form.col.s12
        div.row
          div.input-field.col.s12
            i.material-icons.prefix account_circle
            input#firstname.validate(type="text")
            label(for="firstname") First Name
          div.input-field.col.s12
            i.material-icons.prefix account_circle
            input#lastname.validate(type="text")
            label(for="lastname") Last Name
          div.input-field.col.s12
            i.material-icons.prefix phone
            input#phone.validate(type="text")
            label(for="phone") Phone Number
          div.input-field.col.s12
            i.material-icons.prefix email
            input#email.validate(type="text")
            label(for="email") Email
          div.input-field.col.s12
            i.material-icons.prefix info_outline
            select
              option(value="" disabled selected) Choose your option
              option(value="1") Freshman
              option(value="2") Sophomore
              option(value="3") Junior
              option(value="4") Senior+
            label Year
          div.input-field.col.s12
            i.material-icons.prefix language
            input#school.autocomplete(type="text")
            label(for="school") School
          div.input-field.col.s12
           i.material-icons.prefix today
           input#date.datepicker(type="date")
           label(for="date") Date
            
    div.row
      // uses multipart encrypted file submission; name must be 'file'
      form.dropzone#d1(action="/upload").col.s12.m6.push-m3
        div.fallback
          div.file-field.input-field#d2
            div.btn#display
              span File
              input#upload2(type="file" name="file" accept="image/*,application/pdf")
            div.file-path-wrapper
              input.file-path.validate(type="text")

    <br>
    div.center-align
      button.btn.waves-effect.waves-lighten.blue.darken-1(onclick="submit()") Submit

    link(rel='stylesheet', href='/stylesheets/nottypeform.css')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js" type="text/javascript")
    script(src="javascripts/nottypeform.js" type="text/javascript")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.3.0/min/dropzone.min.js")
    script(src="javascripts/form.js" type="text/javascript")


