doctype html
//if IE 8
  html.ie.ie8(lang='en')
//if (gte IE 9)|!(IE)
  html.no-js(lang='en')
html(lang='en')
    head
        // Basic
        title BCNC | Our Team
        // Define Charset
        meta(charset='utf-8')
        // Responsive etatag
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
        // Page Description and Author
        meta(name='description', content='Business Career and Networking Club')
        meta(name='author', content='Vincent Yang')
        // Bootstrap CSS
        link(rel='stylesheet', href='assets/css/bootstrap.min.css', type='text/css', media='screen')
        // Font Awesome CSS
        link(rel='stylesheet', href='stylesheets/font-awesome.min.css', type='text/css', media='screen')
        // Slicknav
        link(rel='stylesheet', type='text/css', href='stylesheets/slicknav.css', media='screen')
        // Margo CSS Styles
        link(rel='stylesheet', type='text/css', href='stylesheets/style.css', media='screen')
        // Responsive CSS Styles
        link(rel='stylesheet', type='text/css', href='stylesheets/responsive.css', media='screen')
        // Color CSS Styles
        link(rel='stylesheet', type='text/css', href='stylesheets/colors/red.css', title='red', media='screen')
        link(rel='stylesheet', type='text/css', href='stylesheets/colors/jade.css', title='jade', media='screen')
        link(rel='stylesheet', type='text/css', href='stylesheets/colors/blue.css', title='blue', media='screen')
        link(rel='stylesheet', type='text/css', href='stylesheets/colors/beige.css', title='beige', media='screen')
        link(rel='stylesheet', type='text/css', href='stylesheets/colors/cyan.css', title='cyan', media='screen')
        link(rel='stylesheet', type='text/css', href='stylesheets/colors/green.css', title='green', media='screen')
        link(rel='stylesheet', type='text/css', href='stylesheets/colors/orange.css', title='orange', media='screen')
        link(rel='stylesheet', type='text/css', href='stylesheets/colors/peach.css', title='peach', media='screen')
        link(rel='stylesheet', type='text/css', href='stylesheets/colors/pink.css', title='pink', media='screen')
        link(rel='stylesheet', type='text/css', href='stylesheets/colors/purple.css', title='purple', media='screen')
        link(rel='stylesheet', type='text/css', href='stylesheets/colors/sky-blue.css', title='sky-blue', media='screen')
        link(rel='stylesheet', type='text/css', href='stylesheets/colors/yellow.css', title='yellow', media='screen')
        // Margo JS
        script(type='text/javascript', src='javascripts/jquery-2.1.4.min.js')
        script(type='text/javascript', src='javascripts/jquery.migrate.js')
        script(type='text/javascript', src='javascripts/modernizrr.js')
        script(type='text/javascript', src='assets/js/bootstrap.min.js')
        script(type='text/javascript', src='javascripts/jquery.fitvids.js')
        script(type='text/javascript', src='javascripts/owl.carousel.min.js')
        script(type='text/javascript', src='javascripts/nivo-lightbox.min.js')
        script(type='text/javascript', src='javascripts/jquery.isotope.min.js')
        script(type='text/javascript', src='javascripts/jquery.appear.js')
        script(type='text/javascript', src='javascripts/count-to.js')
        script(type='text/javascript', src='javascripts/jquery.textillate.js')
        script(type='text/javascript', src='javascripts/jquery.lettering.js')
        script(type='text/javascript', src='javascripts/jquery.easypiechart.min.js')
        script(type='text/javascript', src='javascripts/jquery.nicescroll.min.js')
        script(type='text/javascript', src='javascripts/jquery.parallax.js')
        script(type='text/javascript', src='javascripts/jquery.slicknav.js')
        //if IE 8
          script(src='http://html5shiv.googlecode.com/svn/trunk/html5.js')
        //if lt IE 9
          script(src='http://html5shiv.googlecode.com/svn/trunk/html5.js')
    body
        #fb-root
        script.
            (function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=271855249904420";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        script(src='https://cdnjs.cloudflare.com/ajax/libs/instafeed.js/1.4.1/instafeed.min.js')
        script(type='text/javascript').
            var feed = new Instafeed({
                get: 'user',
                userId: '2996892988',
                accessToken: '2996892988.1677ed0.d9ba50f469fb43cf9a1d1c91f17c6714',
                template: 'li a.lightbox(href = \'{{link}}\') img(alt = \'\', src = \'{{image}}\')'
            });
            feed.run();
        // Container
        #container
            // Start Header
            .hidden-header
            header.clearfix
                // Start Top Bar
                .top-bar
                    .container
                        .row
                            .col-md-6
                                // Start Contact Info
                                ul.contact-details
                                    li
                                        a(href='#')
                                            i.fa.fa-map-marker
                                            |  Davis, CA
                                    li
                                        a(href='mailto:contactbcnc@gmail.com')
                                            i.fa.fa-envelope-o
                                            |  contactbcnc@gmail.com
                                // End Contact Info
                            .col-md-6
                                // Start Social Links
                                ul.social-list
                                    li
                                        a.facebook.itl-tooltip(data-placement='bottom', title='Facebook', target='_blank', href='https://www.facebook.com/davisbcnc/?ref=br_rs')
                                            i.fa.fa-facebook
                                    li
                                        a.linkdin.itl-tooltip(data-placement='bottom', title='Linkedin', target='_blank', href='https://www.linkedin.com/company/business-career-&-networking-club')
                                            i.fa.fa-linkedin
                                    li
                                        a.instgram.itl-tooltip(data-placement='bottom', title='Instagram', target='_blank', href='https://www.instagram.com/ucd.bcnc/')
                                            i.fa.fa-instagram
                                // End Social Links
                // End Top Bar
                // Start Header ( Logo & Naviagtion )
                .navbar.navbar-default.navbar-top
                    .container
                        .navbar-header
                            // Stat Toggle Nav Link For Mobiles
                            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                                i.fa.fa-bars
                            // End Toggle Nav Link For Mobiles
                            a.navbar-brand(href='/')
                                img(alt='', src='images/bcnc.png')
                        .navbar-collapse.collapse
                            // Start Navigation List
                            ul.nav.navbar-nav.navbar-right
                                li
                                    a(href='/') Home
                                li
                                    a(href='about') About
                                li
                                    a.active(href='our-team') Our Team
                                li
                                    a(href='partners') Partners
                                li
                                    a(href='faq') FAQs
                                    ul.dropdown
                                        li
                                            a(href='faq') Students
                                        li
                                            a(href='faq#organizations-spacing') Organizations
                                        li
                                            a(href='faq#professionals-spacing') Professionals
                                li
                                    a(href='contact') Contact
                                li
                                    a(href='form') Apply
                            // End Navigation List
                    // Mobile Menu Start
                    ul.wpb-mobile-menu
                        li
                            a(href='/') Home
                        li
                            a(href='about') About
                        li
                            a.active(href='our-team') Our Team
                        li
                            a(href='partners') Partners
                        li
                            a(href='faq') FAQs
                        li
                            a(href='contact') Contact
                        li
                            a(href='form') Apply
                    // Mobile Menu End
                // End Header ( Logo & Naviagtion )
            // End Header
            // Start Content
            #content
                .container
                    .page-content
                        .row
                            .col-md-7
                                // Classic Heading
                                h4.classic-title
                                    span BCNC Culture
                                // Some Text
                                p
                                    | The BCNC team starts with passionate students who are driven by opportunities to practice leadership and celebrate success with other young professionals. Our culture builds around innovation, transparency, mentorship, and purpose.
                            .col-md-5
                                // Start Touch Slider
                                .touch-slider(data-slider-navigation='true', data-slider-pagination='true')
                                    .item
                                        img(alt='', src='images/tahoe.png')
                                    //
                                      <div class="item"><img alt="" src="images/about-02.jpg"></div>
                                      <div class="item"><img alt="" src="images/about-03.jpg"></div>
                                // End Touch Slider
                        // Divider
                        .hr1(style='margin-bottom:50px;')
                        .section.service(style='overflow: visible;')
                            .container
                                .row
                                    // Start Service Icon 1
                                    .col-md-3.col-sm-6.service-box.service-center(data-animation='fadeIn', data-animation-delay='01')
                                        .service-icon
                                            i.fa.fa-comments-o.icon-large
                                        .service-content
                                            h4 Transparency
                                            p
                                                | Our board streamlines cross-team communication to increase transparency between different areas of BCNC. This initiative provides each member with an equal opportunity to exercise leadership for projects and creates an environment for easy collaboration.
                                    // End Service Icon 1
                                    // Start Service Icon 2
                                    .col-md-3.col-sm-6.service-box.service-center(data-animation='fadeIn', data-animation-delay='03')
                                        .service-icon
                                            i.fa.fa-lightbulb-o.icon-large
                                        .service-content
                                            h4 Innovation
                                            p
                                                | Our Partner Organizations and professionals encourage us to challenge the status quo, work outside of our comfort zones, and pursue innovative initiatives to achieve extraordinary results
                                    // End Service Icon 2
                                    // Start Service Icon 3
                                    .col-md-3.col-sm-6.service-box.service-center(data-animation='fadeIn', data-animation-delay='02')
                                        .service-icon
                                            i.fa.fa-users.icon-large
                                        .service-content
                                            h4 Mentorship
                                            p
                                                | Mentorship lays the foundation for our continued success as a career-development platform. As a tight-knit group, we help each other grow professionally by providing hands-on training, sharing knowledge, and generating positive feedback loops. We also work closely with our alumni to connect each member with professionals from similar vocational interests.
                                    // End Service Icon 3
                                    // Start Service Icon 4
                                    .col-md-3.col-sm-6.service-box.service-center(data-animation='fadeIn', data-animation-delay='04')
                                        .service-icon
                                            i.fa.fa-trophy.icon-large
                                        .service-content
                                            h4 Purpose
                                            p
                                                | Purpose is deeply ingrained into our culture. Through our transparent practices, emphasis on innovation, and wide range of mentorship opportunities, we enable our members to pursue their professional goals in ways that bring value to our undergraduate community.
                                    // End Service Icon 4
                                // .row
                            // .container
                        // Classic Heading
                        h4.classic-title
                            span Our Team
                        // Start Team Members
                        .row
                            // Start Memebr 3
                            .col-md-3.col-sm-6.col-xs-12
                                .team-member
                                    // Memebr Photo, Name & Position
                                    .member-photo
                                        img(alt='', src='images/team/justin_lee.jpg')
                                        .member-name
                                            | Justin Lee
                                            span Strategy
                                    // Memebr Words
                                    .member-info
                                        p President
                                    // Memebr Social Links
                                    .member-socail
                                        a.linkedin(target='_blank', href='https://www.linkedin.com/in/jcdlee')
                                            i.fa.fa-linkedin
                            // End Memebr 3
                            // Start Memebr 4
                            .col-md-3.col-sm-6.col-xs-12
                                .team-member
                                    // Memebr Photo, Name & Position
                                    .member-photo
                                        img(alt='', src='images/team/jamie_kuang.jpg')
                                        .member-name
                                            | Jamie Kuang
                                            span Strategy
                                    // Memebr Words
                                    .member-info
                                        p Vice President
                                    // Memebr Social Links
                                    .member-socail
                                        a.linkedin(target='_blank', href='https://www.linkedin.com/in/jamie-kuang-91688ab3')
                                            i.fa.fa-linkedin
                            // End Memebr 3
                            // Start Memebr 1
                            .col-md-3.col-sm-6.col-xs-12
                                .team-member
                                    // Memebr Photo, Name & Position
                                    .member-photo
                                        img(alt='', src='images/team/abheek_chanana.jpg')
                                        .member-name
                                            | Abheek Chanana
                                            span Strategy
                                    // Memebr Words
                                    .member-info
                                        p Strategy Advisor
                                    // Memebr Social Links
                                    .member-socail
                                        a.linkedin(target='_blank', href='https://www.linkedin.com/in/abheekchanana')
                                            i.fa.fa-linkedin
                            // End Memebr 1
                            // Start Memebr 2
                            .col-md-3.col-sm-6.col-xs-12
                                .team-member
                                    // Memebr Photo, Name & Position
                                    .member-photo
                                        img(alt='', src='images/team/calvin_harjono.jpg')
                                        .member-name
                                            | Calvin Harjono
                                            span Strategy
                                    // Memebr Words
                                    .member-info
                                        p Strategy Advisor
                                    // Memebr Social Links
                                    .member-socail
                                        a.linkedin(target='_blank', href='https://www.linkedin.com/in/calvinharjono')
                                            i.fa.fa-linkedin
                            // End Memebr 2
                            // Start Memebr 4
                            .col-md-3.col-sm-6.col-xs-12
                                .team-member
                                    // Memebr Photo, Name & Position
                                    .member-photo
                                        img(alt='', src='images/team/benjamin_wang.jpg')
                                        .member-name
                                            | Benjamin Wang
                                            span Brand Development
                                    // Memebr Words
                                    .member-info
                                        p Director of Social Media Marketing
                                    // Memebr Social Links
                                    .member-socail
                                        a.linkedin(target='_blank', href='https://www.linkedin.com/in/benjamin-d-wang/')
                                            i.fa.fa-linkedin
                            // End Memebr 4
                            // Start Memebr 5
                            .col-md-3.col-sm-6.col-xs-12
                                .team-member
                                    // Memebr Photo, Name & Position
                                    .member-photo
                                        img(alt='', src='images/team/jordan_lim.jpg')
                                        .member-name
                                            | Jordan Lim
                                            span Brand Development
                                    // Memebr Words
                                    .member-info
                                        p Director of Campus Engagement
                                    // Memebr Social Links
                                    .member-socail
                                        a.linkedin(target='_blank', href='https://www.linkedin.com/in/jordan-lim')
                                            i.fa.fa-linkedin
                            // End Memebr 5
                            // Start Memebr 6
                            .col-md-3.col-sm-6.col-xs-12
                                .team-member
                                    // Memebr Photo, Name & Position
                                    .member-photo
                                        img(alt='', src='images/team/jia_yi_situ.jpg')
                                        .member-name
                                            | Jia Yi Situ
                                            span Brand Development
                                    // Memebr Words
                                    .member-info
                                        p Director of Events
                                    // Memebr Social Links
                                    .member-socail
                                        a.linkedin(target='_blank', href='https://www.linkedin.com/in/jiayisitu/')
                                            i.fa.fa-linkedin
                            // End Memebr 6
                            // Start Memebr 7
                            .col-md-3.col-sm-6.col-xs-12
                                .team-member
                                    // Memebr Photo, Name & Position
                                    .member-photo
                                        img(alt='', src='images/team/caroline_dinh.jpg')
                                        .member-name
                                            | Caroline Dinh
                                            span Brand Development
                                    // Memebr Words
                                    .member-info
                                        p Director of Campus Engagement
                                    // Memebr Social Links
                                    .member-socail
                                        a.linkedin(target='_blank', href='https://www.linkedin.com/in/caroline-dinh-b32a3391/')
                                            i.fa.fa-linkedin
                            // End Memebr 7
                            // Start Memebr 8
                            .col-md-3.col-sm-6.col-xs-12
                                .team-member
                                    // Memebr Photo, Name & Position
                                    .member-photo
                                        img(alt='', src='images/team/alberto_perez.jpg')
                                        .member-name
                                            | Alberto Perez
                                            span Professional Relations
                                    // Memebr Words
                                    .member-info
                                        p Director of Finance
                                    // Memebr Social Links
                                    .member-socail
                                        a.linkedin(target='_blank', href='https://www.linkedin.com/in/alberto-perez-677b09b3/')
                                            i.fa.fa-linkedin
                            // End Memebr 8
                            // Start Memebr 9
                            .col-md-3.col-sm-6.col-xs-12
                                .team-member
                                    // Memebr Photo, Name & Position
                                    .member-photo
                                        img(alt='', src='images/team/grace_chung.jpg')
                                        .member-name
                                            | Grace Chung
                                            span Professional Relations
                                    // Memebr Words
                                    .member-info
                                        p Director of Professional Networking
                                    // Memebr Social Links
                                    .member-socail
                                        a.linkedin(target='_blank', href='https://www.linkedin.com/in/grace-chung-bab997103/')
                                            i.fa.fa-linkedin
                            // End Memebr 9
                            // Start Memebr 10
                            .col-md-3.col-sm-6.col-xs-12
                                .team-member
                                    // Memebr Photo, Name & Position
                                    .member-photo
                                        img(alt='', src='images/team/julia_tien.jpg')
                                        .member-name
                                            | Julia Tien
                                            span Professional Relations
                                    // Memebr Words
                                    .member-info
                                        p Director of Professional Networking
                                    // Memebr Social Links
                                    .member-socail
                                        a.linkedin(target='_blank', href='https://www.linkedin.com/in/julia-tien-88171a106/')
                                            i.fa.fa-linkedin
                            // End Memebr 10
                            // Start Memebr 11
                            .col-md-3.col-sm-6.col-xs-12
                                .team-member
                                    // Memebr Photo, Name & Position
                                    .member-photo
                                        img(alt='', src='images/team/annie_tu.jpg')
                                        .member-name
                                            | Annie Tu
                                            span Professional Relations
                                    // Memebr Words
                                    .member-info
                                        p Director of Finance
                                    // Memebr Social Links
                                    .member-socail
                                        a.linkedin(target='_blank', href='https://www.linkedin.com/in/annietuu/')
                                            i.fa.fa-linkedin
                            // End Memebr 11
                            // Start Memebr 12
                            .col-md-3.col-sm-6.col-xs-12
                                .team-member
                                    // Memebr Photo, Name & Position
                                    .member-photo
                                        img(alt='', src='images/team/jacob_shepherd.jpg')
                                        .member-name
                                            | Jacob Shepherd
                                            span Professional Relations
                                    // Memebr Words
                                    .member-info
                                        p Director of Finance
                                    // Memebr Social Links
                                    .member-socail
                                        a.linkedin(target='_blank', href='https://www.linkedin.com/in/jacob-shepherd-/')
                                            i.fa.fa-linkedin
                            // End Memebr 12
                            // Start Memebr 13
                            .col-md-3.col-sm-6.col-xs-12
                                .team-member
                                    // Memebr Photo, Name & Position
                                    .member-photo
                                        img(alt='', src='images/team/esther_kwak.jpg')
                                        .member-name
                                            | Esther Kwak
                                            span Technology
                                    // Memebr Words
                                    .member-info
                                        p Director of Design
                                    // Memebr Social Links
                                    .member-socail
                                        a.linkedin(target='_blank', href='https://www.linkedin.com/in/estherkwak/')
                                            i.fa.fa-linkedin
                            // End Memebr 13
                            // Start Memebr 14
                            .col-md-3.col-sm-6.col-xs-12
                                .team-member
                                    // Memebr Photo, Name & Position
                                    .member-photo
                                        img(alt='', src='images/team/vincent_yang.jpg')
                                        .member-name
                                            | Vincent Yang
                                            span Technology
                                    // Memebr Words
                                    .member-info
                                        p Director of Technology
                                    // Memebr Social Links
                                    .member-socail
                                        a.linkedin(target='_blank', href='https://www.linkedin.com/in/vinyang')
                                            i.fa.fa-linkedin
                            // End Memebr 14
                        // End Team Members
                        // Divider
                        .hr1(style='margin-bottom:50px;')
            // End content
            // Start Footer
            footer
                .container
                    .row.footer-widgets
                        // Start Subscribe & Social Links Widget
                        .col-md-3
                            .footer-widget.mail-subscribe-widget
                                h4
                                    | Subscribe to our Newsletter
                                    span.head-line
                                // Begin MailChimp Signup Form
                                link(href='//cdn-images.mailchimp.com/embedcode/classic-10_7.css', rel='stylesheet', type='text/css')
                                style(type='text/css').
                                    #mc_embed_signup {
                                        background: #fff;
                                        clear: left;
                                        font: 14px Helvetica, Arial, sans-serif;
                                    }

                                    /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
                                    We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
                                #mc_embed_signup
                                    form#mc-embedded-subscribe-form.validate(action='https://bcnclub.us3.list-manage.com/subscribe/post?u=63590d2ddc4263a2904727cf9&id=54ddd939d0', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='')
                                        #mc_embed_signup_scroll
                                            .indicates-required
                                                span.asterisk *
                                                |  indicates required
                                            .mc-field-group
                                                label(for='mce-EMAIL')
                                                    | Email Address
                                                    span.asterisk *
                                                input#mce-EMAIL.required.email(type='email', value='', name='EMAIL')
                                            .mc-field-group
                                                label(for='mce-FNAME') First Name
                                                input#mce-FNAME(type='text', value='', name='FNAME')
                                            .mc-field-group
                                                label(for='mce-LNAME') Last Name
                                                input#mce-LNAME(type='text', value='', name='LNAME')
                                            #mce-responses.clear
                                                #mce-error-response.response(style='display:none')
                                                #mce-success-response.response(style='display:none')
                                            // real people should not fill this in and expect good things - do not remove this or risk form bot signups
                                            div(style='position: absolute; left: -5000px;', aria-hidden='true')
                                                input(type='text', name='b_63590d2ddc4263a2904727cf9_54ddd939d0', tabindex='-1', value='')
                                            .clear
                                                input#mc-embedded-subscribe.button(type='submit', value='Subscribe', name='subscribe')
                                script(type='text/javascript', src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js')
                                script(type='text/javascript').
                                    (function ($) {
                                        window.fnames = new Array();
                                        window.ftypes = new Array();
                                        fnames[0] = 'EMAIL';
                                        ftypes[0] = 'email';
                                        fnames[1] = 'FNAME';
                                        ftypes[1] = 'text';
                                        fnames[2] = 'LNAME';
                                        ftypes[2] = 'text';
                                    }(jQuery));var $mcj = jQuery.noConflict(true);
                                // End mc_embed_signup


                            .footer-widget.social-widget
                                h4
                                    | Follow Us
                                    span.head-line
                                ul.social-icons
                                    li
                                        a.facebook(target='_blank', href='https://www.facebook.com/davisbcnc/?ref=br_rs')
                                            i.fa.fa-facebook
                                    li
                                        a.linkdin(target='_blank', href='https://www.linkedin.com/company/business-career-&-networking-club')
                                            i.fa.fa-linkedin
                                    li
                                        a.instgram(target='_blank', href='https://www.instagram.com/ucd.bcnc/')
                                            i.fa.fa-instagram
                        // .col-md-3
                        // End Subscribe & Social Links Widget
                        .col-md-3.col-xs-12
                            .footer-widget
                                .fb-page(data-tabs='timeline', data-href='https://www.facebook.com/davisbcnc', data-width='380', data-small-header='true', data-height='300', data-hide-cover='false')
                        // Start InstaFeed Widget
                        .col-md-3.col-xs-12
                            .footer-widget.flickr-widget
                                h4
                                    | Insta Feed
                                    span.head-line
                                ul.flickr-list
                                    #instafeed
                        // .col-md-3
                        // End InstaFeed Widget
                        // Start Contact Widget
                        .col-md-3.col-xs-12
                            .footer-widget.contact-widget
                                h4
                                    img.img-responsive(src='images/bcnc.png', alt='Footer Logo')
                                p
                                    | The Business Career and Networking Club was created to bridge the gap between businesses and UC Davis students. We strive to link qualified individuals with innovative companies by working year-round to bring value to our students and their future employers.
                                ul
                                    li
                                        span Email:
                                        |  contactbcnc@gmail.com
                                    li
                                        span Website:
                                        |  www.bcnclub.com
                        // .col-md-3
                        // End Contact Widget
                    // .row
                    // Start Copyright
                    .copyright-section
                        .row
                            .col-md-6
                                p
                                    | © 2017 BCNC - All Rights Reserved
                                    a(href='bcnclub.com') BCNC
                            // .col-md-6
                            .col-md-6
                                ul.footer-nav
                                    li
                                        a(href='contact') Contact
                            // //.col-md-6
                    // End Copyright
            // End Footer
        // End Container
        // Go To Top Link
        a.back-to-top(href='#')
            i.fa.fa-angle-up
        #loader
            .spinner
                .dot1
                .dot2
        script(type='text/javascript', src='javascripts/script.js')

