doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css')
    script(src="https://code.jquery.com/jquery-2.2.4.min.js")
  body#radial-center
    h1.center(style="padding: 10% 0 5%;") Your application has been received!
    h6.center Thank you for your interest in the Business Career & Networking Club (BCNC). If you are selected for an interview, we will reach out to you to set up a time!
    h6.center We look forward to reviewing your application.
    br
    hr
    br
    h6.center Best of luck,
    h6.center(style="padding-bottom: 5%;") BCNC Team
    div.center-align
      button#form.center.btn.waves-effect.waves-lighten.blue.darken-1(onclick="window.location='/';") Home
    script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js" type="text/javascript")
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css')
    
